
ion-content {
    background-image: url(../../assets/imgs/GTI189413.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    
      
      
}
h2{
    text-align: center;
    top: 550px;
    position: relative;
    color: #32db64;
    
      

}
h1{
    color: #32db64;
}

